@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');
#copybtn:active,#copybtn:hover{
    transform:scale(1.2) !important;
}
.btns,.homebtn{
    border-radius:100px;
    color:#fff
}
#copybtn:hover,body{
    background-color:#000
}
#geninput,#gradeinput,#mydate{
    box-shadow:0 0 12px 4px rgba(92,92,92,.527),0 6px 20px 0 rgba(92,92,92,.445);
    margin:15px 5px 5px
}
.backhome,.hoverhere,a{
    text-decoration:none
}
#dpp,#gradeinput,#l1{
    clip-path:inset(-30px -0px -30px -30px)
}
#dpa,#dpp,#l1{
    margin-top:15px
}
#dpa:hover,#geninput:active,#geninput:hover{
    clip-path:inset(-30px -30px -30px 1px)!important
}
#dpp:hover,#gradeinput:active,#gradeinput:hover{
    clip-path:inset(-30px 1px -30px -30px)!important
}
#grashacred,#grashahome,#grashakey,#grasharev{
    margin-left:15px!important
}
#main,h1,h2,h3,h4,h5,h6,p,strong{
    font-family: 'Chivo Mono', monospace;
}
#l2,#l3,#levelinput{
    clip-path:inset(-30px -0px -30px -0px);
    margin-right:-2px!important
}
#dpp,#l1,#l2,#l3,#levelinput{
    margin-right:-2px!important
}
#dpa,#geninput,#l4{
    clip-path:inset(-30px -30px -30px -0px);
    clip-path:inset(-30px -30px -30px -0px)
}
#l2,#l3,#l4,#levelinput{
    margin-left:-2px!important;
    margin-top:5px
}
#copybtn:hover{
    box-shadow:0 0 12px 4px #3b3b3b,0 6px 20px 0 rgba(107,107,107,.445)!important;
    background-image:linear-gradient(-45deg,#000 0,#252525 100%)
}
#copybtn:active{
    background-color:#fff;
    box-shadow:0 0 12px 4px rgba(255,255,255,.527),0 6px 20px 0 rgba(255,255,255,.445)!important;
    background-image:linear-gradient(-45deg,#fff 0,#b3b3b3 100%);
    color:#000!important
}
#geninput:active,#geninput:hover{
    color:#fff;
    transition:.5s;
    transform:scale(1.05);
    background-color:#191919
}
.btns{
    height:50px!important;
    margin:15px 8px 8px;
    border:1px solid #2e2e2e;
    transition:.75s;
    text-align:center;
    font-size:20px;
    width:400px;
    cursor:crosshair
}
#dpa,#dpp,#geninput,#l1,#l2,#l3,#l4,.homebtn{
    height:34px
}
.banner,footer{
    margin:0;
    padding:10px
}
#dpa,#dpp,#geninput,#gradeinput,#l1,#l2,#l3,#l4,#levelinput,#mydate,.homebtn{
    transition:.5s;
    text-align:center;
    font-size:13px;
    cursor:crosshair
}
.btns:hover{
    transform:scale(1.25)
}
.btns:active{
    transform:scale(1.29)
}
.banner{
    position:sticky;
    background-color:#09f;
    color:#fff;
    position:sticky;
    text-align:center
}
#dpa,#dpp,#geninput,#gradeinput,#l1,#l2,#l3,#l4,#levelinput,#mydate,#mydate:active,#mydate:hover,.homebtn,.homebtn:active,.homebtn:hover{
    background-color:#191919
}
body{
    color:#fff;
    font-size:large;
    background-size:cover;
    padding:10px;
    text-align:center!important;
    background-repeat:no-repeat;
    cursor:crosshair
}
p,ul{
    font-family:sans-serif!important
}
::selection{
    background:#fe7b00
}
html{
    scroll-behavior:smooth
}
.classname{
    animation-name:example;
    animation-duration:5s
}
footer{
    border-top:1px solid #737373;
    color:#5a5a5a;
    height:200px;
    font-family: 'Chivo Mono', monospace;;
    text-align:center
}
.homebtn{
    box-shadow:0 0 12px 4px rgba(92,92,92,.527),0 6px 20px 0 rgba(92,92,92,.445);
    margin:15px 8px 8px;
    border:1px solid #2e2e2e
}
#copybtn,.backhome,.okok{
    background-color:#fe7b00
}
.homebtn:active,.homebtn:hover{
    transform:scale(1.05);
    color:#fff
}
#copybtn{
    box-shadow:0 0 12px 4px rgba(255,85,0,.39),0 6px 20px 0 rgba(255,196,0,.445),0 6px 20px 0 rgba(255,247,0,.192)!important;
    box-shadow:0 0 12px 4px rgba(255,18,18,.39),0 6px 20px 0 rgba(255,174,0,.445)!important;
    width:150px;
    background-image:linear-gradient(-45deg,#c82f00 0,#c87800 100%);
    color:#fff;
    transition:.5s;
    border-radius:100px
}
.heading{
    text-align:center;
    color:#000;
    border-bottom:1px solid #737373;
    font-size:25px;
    padding:10px;
    background-color:  #0000007b !important;
}
.okok{
    color:#000;
    transition:.5s
}
.okok:hover{
    background-color:#000;
    color:#fff
}
#geninput{
    color:#fff;
    border:1px solid #2e2e2e;
    width:80px;
    border-radius:0 100px 100px 0!important;
    margin-left:-2px!important
}
#gradeinput{
    width:80px;
    height:31px;
    border:1px solid #2e2e2e;
    border-radius:100px 0 0 100px!important;
    margin-right:-2px!important;
    color:#fff
}
#gradeinput:active,#gradeinput:hover{
    transition:.5s;
    transform:scale(1.05);
    background-color:#191919;
    color:#fff
}
#levelinput{
    width:80px;
    border-radius:0!important;
    border:1px solid #2e2e2e;
    height:31px;
    color:#fff
}
#l2:hover,#l3:hover,#levelinput:active,#levelinput:hover{
    clip-path:inset(-30px 1.5px -30px 1.5px)!important
}
#mydate{
    width:130px;
    border-radius:100px;
    height:33px;
    border:1px solid #2e2e2e;
    color:#fff
}
#mydate:active,#mydate:hover{
    transform:scale(1.05)!important;
    color:#fff
}
.word1,.word2,.word3{
    color:#fff;
    transition:.5s
}
.word1:hover{
    color:#cd0000
}
.word2:hover{
    color:#25b401
}
.word3:hover{
    color:#0067cd
}
.shadow{
    transition:.5s;
    border-radius:40px
}
.hide,.hoverhere,.hoverhere:hover+.hide{
    text-align:left;
    transition:5s;
    font-family:'Courier New',Courier,monospace
}
.alert,.backhome{
    border-radius:100px
}
.logo{
    margin:10px
}
.oldup{
    color:gray;
    font-family:'Courier New',Courier,monospace
}
.hide{
    display:none;
    color:gray
}
.hoverhere:hover+.hide{
    display:block;
    color:gray
}
.hoverhere{
    color:#000
}
.newup{
    color:#000;
    font-family:'Courier New',Courier,monospace
}
.backhome{
    color:#000;
    padding:10px 15px;
    margin:30px;
    font-family:sans-serif
}
.alert{
    background-color:rgba(255,123,0,.678);
    font-size:20px;
    padding:10px 20px
}
#dpp,#l1{
    border-radius:100px 0 0 100px!important;
    border:1px solid #2e2e2e;
    color:#fff
}
#dpa{
    border-radius:0 100px 100px 0!important;
    margin-left:-2px!important;
    border:1px solid #2e2e2e;
    color:#fff
}
#main,.qword{
    color:#fe7b00
}
#dpa:hover / #dpp:hover{
    transition:.5s;
    transform:scale(1.05)
}
#grashakey{
    box-shadow:0 0 12px 4px rgba(208,18,255,.39),0 6px 20px 0 rgba(0,174,255,.445)!important
}
#grashahome{
    box-shadow:0 0 12px 4px rgba(255,18,18,.39),0 6px 20px 0 rgba(255,174,0,.445)!important
}
#grasharev{
    box-shadow:0 0 12px 4px rgba(255,0,0,.39),0 6px 20px 0 rgba(17,0,255,.486)!important
}
#grashacred{
    box-shadow:0 0 12px 4px rgba(26,255,18,.39),0 6px 20px 0 rgba(0,47,255,.445)!important
}
#grashaupd{
    box-shadow:0 0 12px 4px rgba(255,18,18,.39),0 6px 20px 0 rgba(0,255,21,.445)!important
}
#l2,#l3{
    border-radius:0!important;
    border:1px solid #2e2e2e;
    color:#fff
}
#l4{
    border-radius:0 100px 100px 0!important;
    border:1px solid #2e2e2e;
    color:#fff
}
#l4:hover{
    clip-path:inset(-30px -30px -30px 1.5px)!important
}
#l1:hover{
    clip-path:inset(-30px 1.5px -30px -30px)!important
}
#hidden{
    color:grey
}
